<app-header (added)="whenIsAdded($event)"></app-header>
<div class="ui container">

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="four wide column"  *ngFor="let person of persons">

            <div class="ui card">
                <div class="images" >
                    <img class="ui image" src="{{person.picture}}" height="220" width="280"  >
                </div>
                <div class="content">
                    <a class="header">{{person.name}}</a>
                    <div class="meta">
                        <span class="date">Address: {{person.address}}</span>
                    </div>
                    <div class="description">
                       Phone: {{person.phone}}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        Age: {{person.age}}
                    </a>
                </div>
            </div>
        </div>


</div>
