<div class="ui menu">

	<!-- Modal window -->
	<div class="ui modal">
		<i class="close icon"></i>
		<div class="header">
			Insert new person into database
		</div>
		<div class="ui content">

			<form class="ui form" novalidate [formGroup] = "form" (ngSubmit)="insertPerson(form.value)" >
				<div class="form-group">
					<label >Name:</label>
					<input type="text" formControlName="name" placeholder="ex. John Doe">
				</div>
				<div class="form-group">
					<label >Age:</label>
					<input type="text" formControlName="age" placeholder="ex. 32">
				</div>
				<div class="form-group">
					<label >Address:</label>
					<input type="text" formControlName="address" placeholder="ex. Main Street 34">
				</div>
				<div class="form-group">
					<label >Phone: </label>
					<input type="text" formControlName="phone" placeholder="ex. 708-850-7557">
				</div>
				<div class="form-group">
					<label >Profile picture URL: </label>
					<input type="text" formControlName="picture" placeholder="ex. http://www.website.com/image.jpg">
				</div>
				<br />
				<button class="ui primary button" >Submit</button>
			</form>
		</div>
	</div>
	<!-- End of modal -->

	<div class="header item">
		Anguar2 Citizen Info
	</div>

	<a class="item active">
        Citizens
    </a>

	<a class="item right">
		<div class="ui tiny basic icon buttons">
			<button class="ui button" onclick="$('.ui.modal').modal('show');">
              <i class="add user icon "></i></button>
		</div>
	</a>
</div>