<div class="ui grid">
    <div class="ui raised very padded text container segment ">
        <div class="ui horizontal divider">
            <h2 class="ui header">Please log in <i class="user icon"></i></h2>
        </div>
        <div class="ui two column middle aligned very relaxed stackable grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui blue submit button">Login</div>
                </div>
            </div>
        </div>
    </div>
</div>